<div id="carousel-example-generic"
	class="carousel slide cover overlay overflow-hidden max-height-100 cover-navbar-large-top margin-none"
	data-ride="carousel">

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="assets/images/bg-top.jpg" width="100%" alt="Slider">
		</div>
	</div>
</div>

<div class="bg-white" style="padding-left: 0px;">
	<div class="container" style="padding-left: 0px;">
		<div class="ui-grid-row">
			<div class="ui-g-2 ui-sm-4">
				<app-admin-menu></app-admin-menu>
			</div>
			<div class="ui-g-10 ui-sm-8">
				<p-tabView (onChange)="onTabChange($event)"> <p-tabPanel
					header="E-MAIL" leftIcon="fa-envelope-o">
				<div class="ui-grid-row">
					<div class="ui-grid-col-1">
						<label i18n="@@subject" for="subject">Sujet</label>
					</div>
					<div class="ui-grid-col-11">
						<input pInputText id="subject" name="subject"
							[(ngModel)]="mail.subject" #subject="ngModel" />
					</div>
				</div>
				<br>
				<div [froalaEditor] [(froalaModel)]="mail.body"></div>
				<br>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<button pButton type="submit" icon="fa-envelope-o"
							(click)="sendMail()"
							style="margin-top: 0px; width: 100%; height: 50px;"
							label="Envoyer"></button>

					</div>

					<div class="ui-grid-col-6"><div *ngIf="msg" class="alert alert-info">{{msg}}</div></div>
				</div>
				</p-tabPanel> <p-tabPanel header="STATUTS" leftIcon="fa-file-text">

				<br>
				<div [froalaEditor] [(froalaModel)]="statuts.htmlText"></div>
				<br>

				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<button pButton type="submit" icon="fa-floppy-o"
							(click)="saveHtml(1)"
							style="margin-top: 0px; width: 100%; height: 50px;"
							label="Sauvegarder"></button>

					</div>

					<div class="ui-grid-col-6"><div *ngIf="msg" class="alert alert-info">{{msg}}</div>
					</div>
				</div>

				</p-tabPanel> <p-tabPanel header="REGLEMENTS" leftIcon="fa-file-o">

				<br>
				<div [froalaEditor] [(froalaModel)]="reglements.htmlText"></div>
				<br>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<button pButton type="submit" icon="fa-floppy-o"
							(click)="saveHtml(2)"
							style="margin-top: 0px; width: 100%; height: 50px;"
							label="Sauvegarder"></button>

					</div>

					<div class="ui-grid-col-6"><div *ngIf="msg" class="alert alert-info">{{msg}}</div></div>
				</div>
				</p-tabPanel> </p-tabView>

			</div>
		</div>
	</div>
</div>
