<div id="carousel-example-generic"
	class="carousel slide cover overlay overflow-hidden max-height-100 cover-navbar-large-top margin-none"
	data-ride="carousel">

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="assets/images/bg-top.jpg" width="100%" alt="Slider">
		</div>
	</div>
</div>

<div class="bg-white" style="padding-left: 0px;">
	<div class="container" style="padding-left: 0px;">
		<div class="ui-grid-row">
			<p-chart type="bar" [data]="data" [height]="100"></p-chart>
		</div>
		<div class="ui-grid-row">
			<p-accordion> <p-accordionTab
				*ngFor="let project of projects"
				header="{{project.title + ' - Budget: '+ project.budget}}">

			<div class="ui-grid-row">

				<div class="ui-grid-col-6">
					<p-carousel headerText="Images - cliquez sur l'image pour elargir"
						[value]="project.pics" *ngIf="project.pics&&project.pics.length>0">
					<ng-template let-pic pTemplate="item"> <a
						href="#/projects/" (click)="showLarge(pic.source)"> <img
						src=" {{pic.source}}" alt="{{pic.alt}}" title="{{pic.title}}"
						height="100" /></a> </ng-template> </p-carousel>
				</div>
				<div class="ui-grid-col-6">

					<p-dataTable [value]="contributions" [rows]="4"> <p-column
						[style]="{'width':'75%'}" field="member" header="Nom"></p-column>
					<p-column [style]="{'width':'25%'}" field="amount"
						header="Montant (CFA)"></p-column> </p-dataTable>


				</div>

			</div>

			<div [innerHTML]="project.description"></div>

			</p-accordionTab> </p-accordion>
		</div>
	</div>
</div>

<p-dialog header="Image" [(visible)]="displayPic" [responsive]="true"
	showEffect="fade" [modal]="true" width="750"> <img
	src="{{picName}}" alt="" width="100%" /> </p-dialog>