# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/src/assets/images/gallery/IMG_4038.JPG
/src/assets/images/gallery/IMG_4039.JPG
/src/assets/images/gallery/IMG_4040.JPG
/src/assets/images/gallery/IMG_4041.JPG
/src/assets/images/gallery/IMG_4042.JPG
/src/assets/images/gallery/IMG_4043.JPG
/src/assets/images/gallery/IMG_4044.JPG
/src/assets/images/gallery/IMG_4045.JPG
/src/assets/images/gallery/IMG_4046.JPG
/src/assets/images/gallery/IMG_4047.JPG
/src/assets/images/gallery/IMG_4048.JPG
/src/assets/images/gallery/IMG_4049.JPG
/src/assets/images/gallery/IMG_4050.JPG
/src/assets/images/gallery/IMG_4051.JPG
/src/assets/images/gallery/IMG_4052.JPG
/src/assets/images/gallery/IMG_4053.JPG
/src/assets/images/gallery/IMG_4054.JPG
/src/assets/images/gallery/IMG_4055.JPG
/src/assets/images/gallery/IMG_4056.JPG
/src/assets/images/gallery/IMG_4057.JPG
/src/assets/images/gallery/IMG_4058.JPG
/src/assets/images/gallery/IMG_4059.JPG
/src/assets/images/gallery/IMG_4060.JPG
/src/assets/images/gallery/IMG_4061.JPG
/src/assets/images/gallery/IMG_4062.JPG
/src/assets/images/gallery/IMG_4063.JPG
/src/assets/images/gallery/IMG_4064.JPG
/src/assets/images/gallery/IMG_4065.JPG
/src/assets/images/gallery/IMG_4066.JPG
/src/assets/images/gallery/IMG_4067.JPG
/src/assets/images/gallery/IMG_4068.JPG
/src/assets/images/gallery/IMG_4069.JPG
/src/assets/images/gallery/IMG_4070.JPG
/src/assets/images/gallery/IMG_4071.JPG
/src/assets/images/gallery/IMG_4072.JPG
/src/assets/images/gallery/IMG_4073.JPG
/src/assets/images/gallery/IMG_4074.JPG
/src/assets/images/gallery/IMG_4075.JPG
/src/assets/images/gallery/gallery_1.jpg
/src/assets/images/gallery/gallery_2.jpg
/src/assets/images/gallery/gallery_3.jpg
/src/assets/images/gallery/gallery_4.jpg
/src/assets/images/members/members_2.jpg
/src/assets/images/project/3/proj_3_1510285771613.jpg
/src/assets/images/project/3/proj_3_1510285793497.jpg
/src/assets/images/project/3/proj_3_1510285921529.png
/src/assets/images/projects/1/proj_1_1518942191215.jpg
/src/assets/images/projects/1/proj_1_1518942198671.jpg
/src/assets/images/projects/1/proj_1_1518942335537.jpg
/src/assets/images/projects/1/proj_1_1518942554893.jpg
/src/assets/images/projects/3/proj_3_1510289087956.gif
/src/assets/images/pubs/pubs_1.jpg
/src/assets/images/pubs/pubs_2.jpg
